<mat-toolbar color="primary">
  <button routerLink="/test" mat-button color="white">Test</button>
  <button routerLink="/rx" mat-button color="white">Rx</button>
</mat-toolbar>

<div  *ngIf="pending$ | async " style="width: 100%; top: 0; left: 0;
height: 100%; background: greenyellow; color: black; position: fixed; z-index: 1000">
Loading....</div>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
    Sidenav
  </mat-sidenav>

  <mat-sidenav-content>
    <div>
  <router-outlet></router-outlet>
</div>
  </mat-sidenav-content>
</mat-sidenav-container>
